CREATE TABLE reset_password_request (id INT AUTO_INCREMENT NOT NULL, selector VARCHAR(20) NOT NULL, hashed_token VARCHAR(100) NOT NULL, requested_at DATETIME NOT NULL, expires_at DATETIME NOT NULL, user_id INT NOT NULL, INDEX IDX_7CE748AA76ED395 (user_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
ALTER TABLE reset_password_request ADD CONSTRAINT FK_7CE748AA76ED395 FOREIGN KEY (user_id) REFERENCES utilisateur (id);
ALTER TABLE utilisateur ADD ban_until DATETIME DEFAULT NULL, ADD created_at DATETIME NOT NULL, ADD age INT DEFAULT NULL, ADD is_verified TINYINT NOT NULL, ADD verification_code VARCHAR(6) DEFAULT NULL, ADD verification_code_expires_at DATETIME DEFAULT NULL, ADD google_id VARCHAR(255) DEFAULT NULL, ADD facebook_id VARCHAR(255) DEFAULT NULL, ADD github_id VARCHAR(255) DEFAULT NULL, ADD telephone VARCHAR(20) DEFAULT NULL, ADD has_set_password TINYINT NOT NULL;
CREATE UNIQUE INDEX UNIQ_1D1C63B376F5C865 ON utilisateur (google_id);
CREATE UNIQUE INDEX UNIQ_1D1C63B39BE8FD98 ON utilisateur (facebook_id);
CREATE UNIQUE INDEX UNIQ_1D1C63B3D4327649 ON utilisateur (github_id);
